tr{
  padding:0px;
  flex:0;
  height:20px;
}
.table td, .table th {
  padding: 0px!important;
}
.App {
  text-align: center;
  align-items: center;
  display: flex;
  width:100%;
  flex-direction: column;
  background-color: #282c34;
}

.raid-logo{
  height:75px;
  margin:10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(36px + 2vmin);
  color: white;
  padding:20px;
}

.content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex:1;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 12px;
  color: white;
  max-width: 1600px;
  width:100%;
}

.table-display{
  display: flex;
  flex:1;
  flex-direction: column;
}

.accordion-container{
  background-color:#282c34 ;
  width:250px;
  padding:20px;
}

.rarity-unknown{
  background-color: transparent;
}
.rare{
  background-color: rgb(13, 166, 226)!important;
}

.epic{
  background-color: rgb(169, 0, 211)!important;
}

.legendary{
  background-color: rgb(236, 182, 31)!important;
}
.table-container{
  color:white;
  display: flex;
  flex:1;
}

.sort-button{
  background-color: transparent;
  border-width: 0px;
  width:20px;
  height:20px;
  color:white;
}
.controls-container{
  padding:10px;
  align-items: flex-start;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.filter-option-status{
  visibility: shown;
  width:15px;
  height:15px;
  background-color: red;
  margin:8px;
}

.filter-option-status-selected{
  visibility: shown;
  width:15px;
  height:15px;
  background-color: green;
  margin:8px;
}